USE [HeliSoundDB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_SecretQuestions]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[InvoiceItem] DROP CONSTRAINT [FK_InvoiceItem_Invoice]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_User]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_CreatedAt]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_Status]
GO
ALTER TABLE [dbo].[Suppliers] DROP CONSTRAINT [DF_Suppliers_Status]
GO
ALTER TABLE [dbo].[SecretQuestions] DROP CONSTRAINT [DF_SecretQuestions_Status]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF_Roles_Status]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_Products_Status]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [DF_Shipped]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [DF_Total]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [DF_Tax]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [DF_SubTotal]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [DF_InvoiceDate]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [DF_Category_Status]
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ_Users_Email]
GO
/****** Object:  Index [UQ_SecretQuestions_QuestionText]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[SecretQuestions] DROP CONSTRAINT [UQ_SecretQuestions_QuestionText]
GO
/****** Object:  Index [UQ_Roles_Description]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ_Roles_Description]
GO
/****** Object:  Index [UX_Products_Name_Supplier_Category]    Script Date: 2026-01-15 2:24:54 AM ******/
DROP INDEX [UX_Products_Name_Supplier_Category] ON [dbo].[Products]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Suppliers]') AND type in (N'U'))
DROP TABLE [dbo].[Suppliers]
GO
/****** Object:  Table [dbo].[SecretQuestions]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SecretQuestions]') AND type in (N'U'))
DROP TABLE [dbo].[SecretQuestions]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoiceItem]') AND type in (N'U'))
DROP TABLE [dbo].[InvoiceItem]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoice]') AND type in (N'U'))
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2026-01-15 2:24:54 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
USE [master]
GO
/****** Object:  Database [HeliSoundDB]    Script Date: 2026-01-15 2:24:54 AM ******/
DROP DATABASE [HeliSoundDB]
GO
/****** Object:  Database [HeliSoundDB]    Script Date: 2026-01-15 2:24:54 AM ******/
CREATE DATABASE [HeliSoundDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeliSoundDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HeliSoundDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeliSoundDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HeliSoundDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeliSoundDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeliSoundDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerUserID] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Tax] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Shipped] [bit] NOT NULL,
	[ShippedDate] [datetime] NULL,
	[CardHolderName] [nvarchar](100) NULL,
	[CardType] [nvarchar](30) NULL,
	[CardNumber] [nvarchar](25) NULL,
	[SecurityCode] [nvarchar](10) NULL,
	[ExpMonth] [int] NULL,
	[ExpYear] [int] NULL,
	[HouseNumber] [nvarchar](20) NULL,
	[StreetName] [nvarchar](80) NULL,
	[StreetType] [nvarchar](20) NULL,
	[ApartmentNumber] [nvarchar](20) NULL,
	[City] [nvarchar](60) NULL,
	[Province] [nvarchar](30) NULL,
	[PostalCode] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[LineTotal]  AS ([UnitPrice]*[Quantity]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[RetailPrice] [decimal](10, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecretQuestions]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecretQuestions](
	[SecretQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](200) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SecretQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-01-15 2:24:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](25) NULL,
	[RoleID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[PasswordSalt] [varbinary](16) NOT NULL,
	[PasswordHash] [varbinary](32) NOT NULL,
	[SecretQuestionID] [int] NULL,
	[SecretAnswerSalt] [varbinary](16) NULL,
	[SecretAnswerHash] [varbinary](32) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Description], [Status]) VALUES (1, N'Headphones', 1)
INSERT [dbo].[Category] ([CategoryID], [Description], [Status]) VALUES (2, N'Speakers', 1)
INSERT [dbo].[Category] ([CategoryID], [Description], [Status]) VALUES (3, N'Soundbars', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceID], [CustomerUserID], [InvoiceDate], [SubTotal], [Tax], [Total], [Shipped], [ShippedDate], [CardHolderName], [CardType], [CardNumber], [SecurityCode], [ExpMonth], [ExpYear], [HouseNumber], [StreetName], [StreetType], [ApartmentNumber], [City], [Province], [PostalCode]) VALUES (2, 3, CAST(N'2026-01-14T22:04:10.110' AS DateTime), CAST(100.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(115.00 AS Decimal(10, 2)), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([InvoiceID], [CustomerUserID], [InvoiceDate], [SubTotal], [Tax], [Total], [Shipped], [ShippedDate], [CardHolderName], [CardType], [CardNumber], [SecurityCode], [ExpMonth], [ExpYear], [HouseNumber], [StreetName], [StreetType], [ApartmentNumber], [City], [Province], [PostalCode]) VALUES (3, 3, CAST(N'2026-01-14T22:04:47.420' AS DateTime), CAST(100.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(115.00 AS Decimal(10, 2)), 1, CAST(N'2026-01-14T22:11:51.870' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([InvoiceID], [CustomerUserID], [InvoiceDate], [SubTotal], [Tax], [Total], [Shipped], [ShippedDate], [CardHolderName], [CardType], [CardNumber], [SecurityCode], [ExpMonth], [ExpYear], [HouseNumber], [StreetName], [StreetType], [ApartmentNumber], [City], [Province], [PostalCode]) VALUES (4, 3, CAST(N'2026-01-14T22:04:54.147' AS DateTime), CAST(100.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(10, 2)), CAST(115.00 AS Decimal(10, 2)), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItem] ON 

INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductName], [UnitPrice], [Quantity]) VALUES (2, 2, N'HDMI Cable', CAST(10.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductName], [UnitPrice], [Quantity]) VALUES (3, 2, N'Bluetooth Speaker', CAST(80.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[InvoiceItem] ([InvoiceItemID], [InvoiceID], [ProductName], [UnitPrice], [Quantity]) VALUES (4, 3, N'HDMI Cable', CAST(10.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[InvoiceItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [RetailPrice], [Status], [Description]) VALUES (1, N'airpods', 2, 1, CAST(455.00 AS Decimal(10, 2)), 1, N'airpods')
INSERT [dbo].[Products] ([ProductID], [ProductName], [SupplierID], [CategoryID], [RetailPrice], [Status], [Description]) VALUES (2, N'speaker', 4, 3, CAST(1222.00 AS Decimal(10, 2)), 1, N'speaker')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [Description], [Status]) VALUES (1, N'Administration', 1)
INSERT [dbo].[Roles] ([RoleID], [Description], [Status]) VALUES (2, N'Customer', 1)
INSERT [dbo].[Roles] ([RoleID], [Description], [Status]) VALUES (3, N'Shipping', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SecretQuestions] ON 

INSERT [dbo].[SecretQuestions] ([SecretQuestionID], [QuestionText], [Status]) VALUES (1, N'What is your mother''s maiden name?', 1)
INSERT [dbo].[SecretQuestions] ([SecretQuestionID], [QuestionText], [Status]) VALUES (2, N'What year did you graduate high school?', 1)
INSERT [dbo].[SecretQuestions] ([SecretQuestionID], [QuestionText], [Status]) VALUES (3, N'What was the name of your first pet?', 1)
SET IDENTITY_INSERT [dbo].[SecretQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Status]) VALUES (1, N'Sony', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Status]) VALUES (2, N'Bose', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Status]) VALUES (3, N'Samsung', 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Phone], [RoleID], [Status], [PasswordSalt], [PasswordHash], [SecretQuestionID], [SecretAnswerSalt], [SecretAnswerHash], [CreatedAt]) VALUES (1, N'Admin', N'User', N'admin@helisound.local', N'000-000-0000', 1, 1, 0x508C28BCA9B4FFA15C157133D50BD76A, 0xBBA60EDC0189594E084F14053CDF2121B602FF348F2743CB121C45AA1B2FA7EE, 1, 0xD71D682A740A65525CD73DDFDC4105D9, 0xDABF0EE3D99DFCDFD80FCE859C2642A764B49AE1397E9C54758F4A9D10839D5A, CAST(N'2026-01-14T19:29:09.780' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Phone], [RoleID], [Status], [PasswordSalt], [PasswordHash], [SecretQuestionID], [SecretAnswerSalt], [SecretAnswerHash], [CreatedAt]) VALUES (2, N'dinesh', N'sangwan', N'd@d.com', N'3456464567', 2, 1, 0xAC5CC583F3DF5824584FBC936DF9EB9F, 0x16ABFECC70F7F887D48A7C798F48E4CFC17B84170E8CAEE8A6CA864381E7EA35, 4, 0xC55127BF70D505EA2AFF91BBA6D9BFBB, 0xCB891BD53A23C52A52C1BD832475A4A34DBABA9A3E7B9C10D8E7CA1ADCB60E71, CAST(N'2026-01-14T21:02:37.413' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Phone], [RoleID], [Status], [PasswordSalt], [PasswordHash], [SecretQuestionID], [SecretAnswerSalt], [SecretAnswerHash], [CreatedAt]) VALUES (3, N'c', N'c', N'c@c.com', N'89231798723', 2, 1, 0x386DE7DE5E358669F61663A156FE9A95, 0xA8A59ECBA8661EF787EA5C0C2F29D59C96529D7C36476C4B47D526AF2589D8D6, 4, 0xAF58238848001BF09959A86BD0DD60C7, 0x2CC5CFA024048D034DC6E7336CC0EE6F285D7B6E78919804505B9DD586913A7A, CAST(N'2026-01-14T21:05:45.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Products_Name_Supplier_Category]    Script Date: 2026-01-15 2:24:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Products_Name_Supplier_Category] ON [dbo].[Products]
(
	[ProductName] ASC,
	[SupplierID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Description]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Description] UNIQUE NONCLUSTERED 
(
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SecretQuestions_QuestionText]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[SecretQuestions] ADD  CONSTRAINT [UQ_SecretQuestions_QuestionText] UNIQUE NONCLUSTERED 
(
	[QuestionText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 2026-01-15 2:24:54 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_InvoiceDate]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Tax]  DEFAULT ((0)) FOR [Tax]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Shipped]  DEFAULT ((0)) FOR [Shipped]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SecretQuestions] ADD  CONSTRAINT [DF_SecretQuestions_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_User] FOREIGN KEY([CustomerUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_User]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItem_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceItem_Invoice]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SecretQuestions] FOREIGN KEY([SecretQuestionID])
REFERENCES [dbo].[SecretQuestions] ([SecretQuestionID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SecretQuestions]
GO
USE [master]
GO
